body{
	margin: 0;
	padding: 0;
}
#personcontainer {
	height: 100vh;
	display: grid;
	place-items: center
}
#personslider-container {
	height: 300px;
	width: 85vw;
	max-width: 1400px;
	position: relative;
	overflow: hidden;
	padding: 20px;
}
#personslider-container .btnperson {
	position: absolute;
	top: calc(50% - 30px);
	height: 15px;
	width: 15px;
	border-left: 8px solid #696969;
	border-top: 8px solid #696969;
	cursor: pointer;
}
#personslider-container .btnperson:hover {
	transform: scale(1.2);
}
#personslider-container .btnperson.inactive {
	border-color: #282828
}
#personslider-container .btnperson:first-of-type {
	transform: rotate(-45deg);
	left: 10px
}
#personslider-container .btnperson:last-of-type {
	transform: rotate(135deg);
	right: 10px;
}
#personslider-container #slider {
	display: flex;
	width: 1000%;
	height: 100%;
	transition: all .5s;
}
#personslider-container #slider .personslide{
	height: 90%;
	margin: auto 10px;
	background-color: #b5b5b5;
	border-radius: 5px;
	box-shadow: 2px 2px 4px 2px white, -2px -2px 4px 2px white;
	display: grid;
	place-items: center;
}
#personslider-container#slider .personslide span {
	color: white;
	font-size: 60px;
}
@media only screen and (min-width: 1100px) {
	#personslider-container #slider .personslide {
		width: calc(2.5% - 20px);
	}
}
@media only screen and (max-width: 1100px) {
	#personslider-container #slider .personslide {
		width: calc(3.3333333% - 20px);
	}
}
@media only screen and (max-width: 900px) {
	#personslider-container #slider .personslide {
		width: calc(5% - 20px);
	}
}
@media only screen and (max-width: 550px) {
	#personslider-container #slider .personslide {
		width: calc(10% - 20px);
	}
}