@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
}

.form-container {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 15px;
   padding-bottom: 60px;
   background-image: url(images/seats.jpg);
   background-size: cover;
   background-color: #242323;
   background-blend-mode: soft-light;
   background-position: center;
   /* Center the background image */
}



.cta-button {
   display: inline-block;
   padding: 10px 20px;
   width: 100%;
   background-color: #539699;
   color: #fff;
   text-decoration: none;
   border-radius: 4px;
   /* font-weight: bold; */
   font-size: 18px;
   transition: background-color 0.3s;
}

.cta-button:hover {
   background: rgb(20, 147, 220);
   color: #fff;
}

.reset {
   position: relative;
   margin: 0;
   width: 5px;
   color: #024246;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}

img {
   max-width: 100%;
   /* Make the image responsive */
   height: auto;
   /* Maintain the aspect ratio */
   display: block;
   /* Remove any extra space below the image */
   margin: 0 auto;
   /* Center the image within its container */
   border-radius: 10px;
}

.form-container form {
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   background: #393E46;
   text-align: center;
   width: 900px;
   color: #00ADB5;
   transition: box-shadow 0.3s;
}

.form-container form h3 {
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color: #00ADB5;
}

.form-container form input {
   width: 100%;
   padding: 10px 15px;
   font-size: 15px;
   margin: 8px 0;
   background: #333;
   border-radius: 5px;
   color: #00ADB5;
}

.form-btn.unlinked {
   background-color: red;
   /* Change this to the color you want */
   color: white;
}


.form-container form .form-btn {
   background: #333;
   color: #00ADB5;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}




.form-container form .form-btn:hover {
   background: rgb(20, 147, 220);
   color: #fff;
}

.form-container form p {
   margin-top: 10px;
   font-size: 20px;
   /* color: #00ADB5; */
}


label {

   display: block;
   font-size: 16px;
   margin-bottom: 8px;
   color: #00ADB5;
   transition: color 0.3s, transform 0.3s;
   cursor: pointer;
}

#total {
   display: inline-block;
   font-size: 16px;
   margin-bottom: 8px;
   color: #00ADB5;
   transition: color 0.3s, transform 0.3s;
   cursor: pointer;
   padding: 8px 16px;
   border: 2px solid #00ADB5;
   border-radius: 8px;
   width: 100%;
   text-align: center;
}

.labeltext {
   display: inline-block;
   font-size: 16px;
   margin-bottom: 8px;
   color: #00ADB5;
   transition: color 0.3s, transform 0.3s;
   cursor: pointer;
   padding: 8px 16px;
   border: 2px solid #00ADB5;
   border-radius: 8px;
   width: 100%;
   text-align: left;
}

.labeltext:hover {
   color: #FFD700;
   /* Change color on hover */
   transform: scale(1.05);
   /* Add a scaling effect on hover */
}

#total:hover {
   color: #FFD700;
   /* Change color on hover */
   transform: scale(1.05);
   /* Add a scaling effect on hover */
}


.form-container:hover {
   box-shadow: 0 0 20px rgba(0, 188, 212, 0.8);
}



button {
   display: block;
   margin: 2em auto 1em auto;
   background-color: #00ADB5;
   color: #1e2e2d;
   border: none;
   outline: none;
   padding: 1em 2em;
   border-radius: 0.5em;
   font-weight: 600;
}

.form-container {
   color: #ffffff;
   text-align: center;
}






/* RADIO BUTTONS */

.wrapper {
   display: flex;
   gap: 20px;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 20px;
}

.mode1,
.mode2 {
   position: relative;
   width: 150px;
   height: 100px;
   background: #333;
   border-radius: 10px;
   transition: all 0.3s;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* Center the content vertically */
   align-items: center;
   /* Center the content horizontally */
}

.mode1:hover,
.mode2:hover {
   transform: scale(1.05);
}

.selected {
   background-color: #024246 !important;
   ;
}

.card {
   position: relative;
   width: 150px;
   height: 100px;
   background: #333;
   border-radius: 10px;
   transition: all 0.3s;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* Center the content vertically */
   align-items: center;
   /* Center the content horizontally */
}

.card:hover {
   transform: scale(1.05);
}

.inputrad {
   position: absolute;
   font-size: 10px;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   cursor: pointer;
   opacity: 0;
}

.check::before {
   content: "";
   position: absolute;
   top: 15px;
   right: 15px;
   width: 16px;
   height: 16px;
   border: 2px solid #d0d0d0;
   border-radius: 50%;
   background-color: #E8E8E8;
}

.inputrad:checked+.check::after {
   content: '';
   position: absolute;
   top: 19px;
   right: 19px;
   width: 12px;
   height: 12px;
   background-color: rgba(0, 255, 242, 0.7);
   border-radius: 50%;
}


.pin-container {
   text-align: center;
}


.pin-input {
   display: flex;
   justify-content: center;
   width: 100%; /* or set a specific width as needed */
   box-sizing: border-box;
   padding: 5px; /* Adjust as needed */
   margin: 0; /* Adjust as needed */
}

.hidden {
   visibility: hidden;
}


.credit-btn {
   display: inline-flex;
   align-items: center;
   padding: 10px 20px;
   font-size: 16px;
   text-decoration: none;
   background-color: #3b3c3d; /* Blue background color */
   color: cyan; /* White text color */
   border: 1px solid #222831; /* Blue border */
   border-radius: 5px; /* Rounded corners */
   transition: background-color 0.3s, color 0.3s;
}

.credit-btn:hover {
   background-color: #00ADB5; /* Darker blue on hover */
   color:#222831; /* White text color on hover */
}

.credit-card-icon {
   margin-right: 8px; /* Adjust the margin based on your preference */
}


#pin1,
#pin2,
#pin3,
#pin4,
#pin5,
#pin6,
#pin7,
#pin8 {
   width: 20%;
   /* Adjust the width based on your design */
   height: 40px;
   border: 1px solid #ccc;
   border-radius: 8px;
   font-size: 18px;
   text-align: center;
   margin: 0 2%;
   /* Adjust the margin based on your design */
   outline: none;
}

/* Optional: Add focus styles for better user experience */
#pin1:focus,
#pin2:focus,
#pin3:focus,
#pin4:focus,
#pin5:focus,
#pin6:focus,
#pin7:focus,
#pin8:focus {
   border-color: #4CAF50;
   box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

@media screen and (max-width: 768px) {

   #pin1,
   #pin2,
   #pin3,
   #pin4,
   #pin5,
   #pin6,
   #pin7,
   #pin8 {
      width: 15%;
      margin: 0 1%;
   }
}

@media screen and (max-width: 480px) {

   #pin1,
   #pin2,
   #pin3,
   #pin4,
   #pin5,
   #pin6,
   #pin7,
   #pin8 {
      width: 20%;
      margin: 0 0.5%;
   }
}

@media screen and (max-width: 300px) {

   #pin1,
   #pin2,
   #pin3,
   #pin4,
   #pin5,
   #pin6,
   #pin7,
   #pin8 {
      width: 15%;
      margin: 0 0.3%;
   }
}




/* SEATS */

#liveSearchInput {
   width: 60%;
   background: linear-gradient(45deg, #176B87, #64CCC5);
   color: whitesmoke;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);


}

#liveSearchInput::placeholder {
   color: white;
}

.container {
   position: relative;
   max-width: 800px;
   width: 100%;
   margin: 10px auto 30px;
   overflow-y: auto;
   height: 300px;

}

.select-btn {
   display: flex;
   height: 50px;
   align-items: center;
   justify-content: space-between;
   padding: 0 16px;
   border-radius: 8px;
   cursor: pointer;
   background-color: #539699;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


.select-btn .btn-text {
   font-size: 17px;
   font-weight: 400;
   color: #ffffff;



}

.select-btn .arrow-dwn {
   display: flex;
   height: 21px;
   width: 21px;
   color: #fff;
   font-size: 14px;
   border-radius: 50%;
   background: #6e93f7;
   align-items: center;
   justify-content: center;
   transition: 0.3s;
}

.select-btn.open .arrow-dwn {
   transform: rotate(-180deg);
}

.list-items {
   position: relative;
   margin-top: 15px;
   border-radius: 8px;
   padding: 16px;
   background-color: #333;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   display: block;
   max-height: 200px;

}




.container::-webkit-scrollbar {
   width: 10px;
   /* WebKit browsers */
}

.container::-webkit-scrollbar-thumb {
   background-color: #00ADB5;
   /* Thumb color */
}

.container::-webkit-scrollbar-track {
   background-color: #222831;
   /* Track color */
}


.select-btn.open~.list-items {
   display: block;
}

.list-items .item {
   display: flex;
   align-items: center;
   list-style: none;
   height: 50px;
   cursor: pointer;
   transition: 0.3s;
   padding: 0 15px;
   border-radius: 8px;

}


.list-items .item:hover {
   background-color: rgb(90, 90, 90, 0.4);
}

.checkbox:checked+.item-text {
   color: rgb(0, 255, 0, 0.4);
   /* Change to your desired green color */
}

.item .item-text {
   font-size: 16px;
   font-weight: 400;
   color: #00ADB5;
}


.item .checkbox {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 16px;
   width: 16px;
   border-radius: 4px;
   margin-right: 12px;
   border: 1.5px solid #c0c0c0;
   transition: all 0.3s ease-in-out;
}



/* .item.checked .checkbox{
   background-color: #4070f4;
   border-color: #4070f4;
}
.checkbox .check-icon{
   color: #fff;
   font-size: 11px;
   transform: scale(0);
   transition: all 0.2s ease-in-out;
}
.item.checked .check-icon{
   transform: scale(1);
}  */


/* MODE */
.radio-inputs {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   border-radius: 0.5rem;
   background-color: #539699;
   box-sizing: border-box;
   box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
   padding: 0.25rem;
   width: 300px;
   font-size: 14px;
}

.radio-inputs .radio {
   flex: 1 1 auto;
   text-align: center;
}

.radio-inputs .radio input {
   display: none;
}

.radio-inputs .radio .name {
   display: flex;
   cursor: pointer;
   align-items: center;
   justify-content: center;
   border-radius: 0.5rem;
   border: none;
   padding: .5rem 0;
   color: rgba(51, 65, 85, 1);
   transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
   background-color: #ccc;
   font-weight: 600;
}


.pin-message {
   font-size: 16px;
   color: white;
   /* Set your desired text color */
   background-color:red;
   /* Set your desired background color */
   padding: 10px;
   margin: 10px 0;
   border-radius: 9px;
}